.header {
    background-color: #FFFFFF;
    background-image: url('images/background_header.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.nav__logo {
    margin-top: 30px;
    margin-left: 30px;
    width: 105px; 
    height: 39px; 
}

.nav__links {
    position: absolute;
    top: 30px;
    right: 80px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav__link {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    text-decoration: none;
}

.header__image {
    position: absolute;
    top: 124px;
    right: 5px;
    width: 646px;
    height: 565px;
}

.header__content {
    position: absolute;
    top: 183px;
    left: 80px;
    max-width: 709px;
}

.header__title {
    white-space: pre-line;
    font-size: 58px;
    max-width: 709px;
    margin-bottom: 28px;
}

.header__description {
    font-family: "Noto Serif";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    max-width: 683px;
    margin-top: 28px;
}

.span-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 58px;
    line-height: 72px;
    letter-spacing: -1px;
}

.span-accent {
    font-family: "Noto Serif";
    font-style: italic;
    font-weight: normal;
    font-size: 58px;
    line-height: 72px;
    color: #2F80ED;
}

.header__footer {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;
    
   
    
    
}

.header__footer-horarios {
    left: 80px;
    bottom: 40px;
    position:absolute;


}


.header__address {
    right: 80px;
    bottom: 40px;
    position:absolute;
    
}

.serif {
    font-family: "Noto Serif", serif;
}

.footer {
    text-align: center;
    padding: 20px;
}

